@charset "UTF-8";
html {
  height: 100%;
}
body{max-width: 100%; overflow-x: hidden;}

a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var{
  padding: 0;
  margin: 0;
  /*overflow: hidden;*/
  position: relative;
}
html {
  height: 100%;
}

/*去掉 内外边距*/
*{
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body,pre { color: #333333; font-family: "Microsoft YaHei", "微软雅黑", "宋体", Arial, Verdana; font-size: 12px; padding-bottom: 20px; }

img { border: 0 none; }

em, i, u { font-style: normal; }

a { text-decoration: none; color: #666666; }

a:hover { text-decoration: none;  }

li { list-style: none; }

.clearfix:after { content: " "; visibility: hidden; display: block; clear: both; height: 0; font-size: 0; }

.clearfix { clear: both; }

.clear { clear: both; overflow: hidden; }

:focus { outline: medium none; }

::-webkit-scrollbar { width: 6px; height: 6px; background:transparent;}

::-webkit-scrollbar-thumb {background-color: rgba(187, 187, 187, 0.7);border-radius: 6px;}

::-webkit-scrollbar-thumb:vertical:hover { background-color: rgba(153, 153, 153, 0.7); }

::-webkit-scrollbar-thumb:vertical:active { background-color: rgba(153, 153, 153, 0.7); }

::-webkit-scrollbar-button:vertical, ::-webkit-scrollbar-track:vertical { display: none; }

::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-track-piece:vertical, ::-webkit-scrollbar-corner:vertical { background-color: transparent; }

.sign-c{color: #ea3939;font-style: normal;font-weight: normal;}
.a-block{display: inline-block;text-align: center;background:#249cf2;color: #fff;}
.b-b{border-bottom:1px solid #dedede;}
.prompt{color: #3890eb;font-style: normal;font-weight: normal;}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* {
  appearance: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  vertical-align: baseline;
  outline: none;
  font-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #999;
  padding-left: 0.1rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #999;
  padding-left: 0.1rem;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #999;
  opacity:1;
  padding-left: 0.1rem;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #999 !important;
  padding-left: 0.1rem;
}

.container {
  flex: 1 0 auto;
  padding: 0.1rem;
  /*padding-left: 1.64rem;*/
  /*padding-right: 1.64rem;*/
}

.decoration{
  background-color:#eee;
  height:2px;
  background-repeat:repeat;
  border-bottom:solid 1px #FFFFFF;
  margin-bottom:0.1rem;
  display:block;
  width:100%;
  clear:both;
}

.seachTools {
  @include wh(100 %, 0.4 rem);
  line-height: 0.4rem;
  /*display: inline-flex;*/
}
.header_device{
  float: left;
}
.seach_device {
  float: right;
  line-height: 0.3rem;
  border: 1px solid #677bf1;
}
.seach_device input {
  border: 0px;
}
.seach_device input[type='text'] {
  border: 0px;
@include wh(2rem, 0.28rem);
}
.seach_device input[type='button'] {
  background: #677bf1;
  color: #ffffff;
@include wh(0.4rem, 0.3rem);
  line-height: 0.3rem;
}

